<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453965501092-p5d7vrakb27n4ge9aep52ibrqfoqg4sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453965501092-p5d7vrakb27n4ge9aep52ibrqfoqg4sc</string>
	<key>API_KEY</key>
	<string>AIzaSyBytngD4p0dNbxOSgRnttkF3ZN0ewfY96I</string>
	<key>GCM_SENDER_ID</key>
	<string>453965501092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infancyit.GhostStory</string>
	<key>PROJECT_ID</key>
	<string>ghoststory-7b7f2</string>
	<key>STORAGE_BUCKET</key>
	<string>ghoststory-7b7f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:453965501092:ios:cc627d35041268db</string>
	<key>DATABASE_URL</key>
	<string>https://ghoststory-7b7f2.firebaseio.com</string>
</dict>
</plist>
